# Using pandas to read data

In [1]:
import pandas as pd

df = pd.read_csv('home_data.csv')
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [10]:
#finding the highest average house prices of a zipcode using groupby
df.groupby(['zipcode'])['price'].mean().sort_values(ascending=False)

zipcode
98039    2.160607e+06
98004    1.355927e+06
98040    1.194230e+06
98112    1.095499e+06
98102    9.012582e+05
             ...
98148    2.849086e+05
98001    2.808047e+05
98032    2.512962e+05
98168    2.403284e+05
98002    2.342840e+05
Name: price, Length: 70, dtype: float64

In [14]:
#filter between
#this will only give you booleans
df['sqft_living'].between(2000, 4000)

0        False
1         True
2        False
3        False
4        False
         ...
21608    False
21609     True
21610    False
21611    False
21612    False
Name: sqft_living, Length: 21613, dtype: bool

In [15]:
#using booleans on the df again will give you the rows
df[df['sqft_living'].between(2000, 4000)]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
1,6414100192,20141209T000000,538000,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
10,1736800520,20150403T000000,662500,3,2.50,3560,9796,1.0,0,0,...,8,1860,1700,1965,0,98007,47.6007,-122.145,2210,8925
15,9297300055,20150124T000000,650000,4,3.00,2950,5000,2.0,0,3,...,9,1980,970,1979,0,98126,47.5714,-122.375,2140,4000
21,2524049179,20140826T000000,2000000,3,2.75,3050,44867,1.0,0,4,...,9,2330,720,1968,0,98040,47.5316,-122.233,4110,20336
22,7137970340,20140703T000000,285000,5,2.50,2270,6300,2.0,0,0,...,8,2270,0,1995,0,98092,47.3266,-122.169,2240,7005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21599,7202300110,20140915T000000,810000,4,3.00,3990,7838,2.0,0,0,...,9,3990,0,2003,0,98053,47.6857,-122.046,3370,6814
21603,7852140040,20140825T000000,507250,3,2.50,2270,5536,2.0,0,0,...,8,2270,0,2003,0,98065,47.5389,-121.881,2270,5731
21605,3448900210,20141014T000000,610685,4,2.50,2520,6023,2.0,0,0,...,9,2520,0,2014,0,98056,47.5137,-122.167,2520,6023
21606,7936000429,20150326T000000,1007500,4,3.50,3510,7200,2.0,0,0,...,9,2600,910,2009,0,98136,47.5537,-122.398,2050,6200
21609,6600060120,20150223T000000,400000,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200

In [21]:
#find the fraction of the population
len(df[df['sqft_living'].between(2000, 4000)])/len(df)

0.4266413732475825

# Defining features

In [22]:
my_features = ['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'zipcode']
advanced_features = [
'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'zipcode',
'condition', # condition of house
'grade', # measure of quality of construction
'waterfront', # waterfront property
'view', # type of view
'sqft_above', # square feet above ground
'sqft_basement', # square feet in basement
'yr_built', # the year built
'yr_renovated', # the year renovated
'lat', 'long', # the lat-long of the parcel
'sqft_living15', # average sq.ft. of 15 nearest neighbors 
'sqft_lot15', # average lot size of 15 nearest neighbors 
]

# Using sklearn to do train test split

In [26]:
#train test split 80%, 20%
from sklearn.model_selection import train_test_split
df_train, df_test = train_test_split(df, test_size=0.2)

In [28]:
print("Training data set has {} rows".format(len(df_train)))
print(df_train.head())

Training data set has 17290 rows
               id             date   price  bedrooms  bathrooms  sqft_living  \
1472   2724069070  20150220T000000  519500         4       2.00         1540
4433   5104450690  20140716T000000  320000         4       2.75         2610
18807  2721049061  20140709T000000  625000         3       1.75         3160
3678   1868901295  20140729T000000  660000         5       2.25         2540
4865   7205000080  20141201T000000  268000         3       1.75         1370

       sqft_lot  floors  waterfront  view  ...  grade  sqft_above  \
1472      17859     1.0           0     0  ...      6        1540
4433       9077     1.0           0     0  ...      8        1310
18807     76230     1.0           0     0  ...      8        2160
3678       3750     1.5           0     0  ...      7        1510
4865      10050     1.0           0     1  ...      7        1370

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
1472               0      1964             0    98027  47.5326 -122.032
4433            1300      1987             0    98058  47.4612 -122.147
18807           1000      1978             0    98001  47.2740 -122.287
3678            1030      1925             0    98115  47.6729 -122.299
4865               0      1966             0    98023  47.3338 -122.341

       sqft_living15  sqft_lot15
1472            1390        9688
4433            1900       10500
18807           1990       45789
3678            1780        3750
4865            1720       10050

[5 rows x 21 columns]

In [29]:
print("Training data set has {} rows".format(len(df_test)))
print(df_test.head())

Training data set has 4323 rows
               id             date   price  bedrooms  bathrooms  sqft_living  \
10311  1112700060  20150311T000000  399900         3       1.75         1260
13270  1825069072  20150430T000000  964000         3       2.50         3630
14467  9103000360  20141218T000000  825000         4       2.50         2180
9202   7853310150  20140722T000000  625000         5       1.00         3240
16700  5700001100  20141007T000000  580000         4       1.50         2430

       sqft_lot  floors  waterfront  view  ...  grade  sqft_above  \
10311     12750     1.0           0     0  ...      7        1260
13270      9475     2.0           0     0  ...     11        3630
14467      4000     2.0           0     0  ...      8        2180
9202       5324     2.0           0     0  ...      9        3240
16700      4995     1.5           0     0  ...      7        1730

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
10311              0      1979             0    98034  47.7289 -122.233
13270              0      1999             0    98074  47.6544 -122.085
14467              0      1920          2005    98122  47.6186 -122.288
9202               0      2007             0    98065  47.5230 -121.875
16700            700      1928             0    98144  47.5782 -122.292

       sqft_living15  sqft_lot15
10311           1460        7865
13270           3250       11605
14467           2660        4000
9202            3240        6036
16700           2240        5000

[5 rows x 21 columns]

# sklearn linear regression using simple features set

In [46]:
from sklearn import linear_model
simple_linear_model = linear_model.LinearRegression()
#this is done using default residual sum square
simple_linear_model.fit(df_train[my_features], df_train['price'])

LinearRegression()

In [68]:
simple_linear_model.score(df_train[my_features], df_train['price'])

0.518235588966641

In [69]:
simple_linear_model.coef_

array([-6.58945787e+04,  1.26253950e+04,  3.24871735e+02, -3.95875046e-01,
       -6.50155264e+03,  5.56619543e+02])

In [47]:
from sklearn.metrics import mean_squared_error
import math

simple_mean_squared_error_train = mean_squared_error(df_train['price'], simple_linear_model.predict(df_train[my_features]))
simple_mean_squared_error_test = mean_squared_error(df_test['price'], simple_linear_model.predict(df_test[my_features]))
                                                     
print("Simple root mean sq error (RMSE) on training data is ", math.sqrt(simple_mean_squared_error_train))
print("Simple root mean sq error (RMSE) on testing data is ", math.sqrt(simple_mean_squared_error_test))

Simple root mean sq error (RMSE) on training data is  258409.09216854148
Simple root mean sq error (RMSE) on testing data is  244822.68091548092

# fitting linear model using advanced features set

In [65]:
advanced_linear_model = linear_model.LinearRegression()
#this is done using default residual sum square
advanced_linear_model.fit(df_train[advanced_features], df_train['price'])

LinearRegression()

In [63]:
advanced_linear_model.score(df_train[advanced_features], df_train['price'])

0.7035573126155243

In [64]:
advanced_linear_model.coef_

array([-3.94393109e+04,  4.40451017e+04,  1.12320966e+02,  1.10905814e-01,
        3.19131091e+03, -5.97458741e+02,  2.62375582e+04,  9.57943505e+04,
        6.31059872e+05,  5.39797597e+04,  7.43146670e+01,  3.80062987e+01,
       -2.65650864e+03,  2.10521312e+01,  6.00372030e+05, -2.22953488e+05,
        2.06204843e+01, -4.18213665e-01])

In [50]:
advanced_mean_squared_error_train = mean_squared_error(df_train['price'], advanced_linear_model.predict(df_train[advanced_features]))
advanced_mean_squared_error_test = mean_squared_error(df_test['price'], advanced_linear_model.predict(df_test[advanced_features]))
                                                     
print("Advanced root mean sq error (RMSE) on training data is ", math.sqrt(advanced_mean_squared_error_train))
print("Advanced root mean sq error (RMSE) on testing data is ", math.sqrt(advanced_mean_squared_error_test))

Advanced root mean sq error (RMSE) on training data is  202703.2929166561
Advanced root mean sq error (RMSE) on testing data is  195452.48754276487

In [52]:
math.sqrt(simple_mean_squared_error_test) - math.sqrt(advanced_mean_squared_error_test)

49370.19337271605

# Using turicreate

In [54]:
import turicreate
sf = turicreate.SFrame('home_data.csv')
sf.head()

Finished parsing file /Users/stevedeng/Documents/MachineLearning/Machine_Learning_Specialization/home_data.csv

Parsing completed. Parsed 100 lines in 0.108833 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[int,str,int,int,float,int,int,float,int,int,int,int,int,int,int,int,int,float,float,int,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /Users/stevedeng/Documents/MachineLearning/Machine_Learning_Specialization/home_data.csv

Parsing completed. Parsed 21613 lines in 0.079344 secs.

Columns:
	id	int
	date	str
	price	int
	bedrooms	int
	bathrooms	float
	sqft_living	int
	sqft_lot	int
	floors	float
	waterfront	int
	view	int
	condition	int
	grade	int
	sqft_above	int
	sqft_basement	int
	yr_built	int
	yr_renovated	int
	zipcode	int
	lat	float
	long	float
	sqft_living15	int
	sqft_lot15	int

Rows: 10

Data:
+------------+-----------------+---------+----------+-----------+-------------+
|     id     |       date      |  price  | bedrooms | bathrooms | sqft_living |
+------------+-----------------+---------+----------+-----------+-------------+
| 7129300520 | 20141013T000000 |  221900 |    3     |    1.0    |     1180    |
| 6414100192 | 20141209T000000 |  538000 |    3     |    2.25   |     2570    |
| 5631500400 | 20150225T000000 |  180000 |    2     |    1.0    |     770     |
| 2487200875 | 20141209T000000 |  604000 |    4     |    3.0    |     1960    |
| 1954400510 | 20150218T000000 |  510000 |    3     |    2.0    |     1680    |
| 7237550310 | 20140512T000000 | 1225000 |    4     |    4.5    |     5420    |
| 1321400060 | 20140627T000000 |  257500 |    3     |    2.25   |     1715    |
| 2008000270 | 20150115T000000 |  291850 |    3     |    1.5    |     1060    |
| 2414600126 | 20150415T000000 |  229500 |    3     |    1.0    |     1780    |
| 3793500160 | 20150312T000000 |  323000 |    3     |    2.5    |     1890    |
+------------+-----------------+---------+----------+-----------+-------------+
+----------+--------+------------+------+-----------+-------+------------+---------------+
| sqft_lot | floors | waterfront | view | condition | grade | sqft_above | sqft_basement |
+----------+--------+------------+------+-----------+-------+------------+---------------+
|   5650   |  1.0   |     0      |  0   |     3     |   7   |    1180    |       0       |
|   7242   |  2.0   |     0      |  0   |     3     |   7   |    2170    |      400      |
|  10000   |  1.0   |     0      |  0   |     3     |   6   |    770     |       0       |
|   5000   |  1.0   |     0      |  0   |     5     |   7   |    1050    |      910      |
|   8080   |  1.0   |     0      |  0   |     3     |   8   |    1680    |       0       |
|  101930  |  1.0   |     0      |  0   |     3     |   11  |    3890    |      1530     |
|   6819   |  2.0   |     0      |  0   |     3     |   7   |    1715    |       0       |
|   9711   |  1.0   |     0      |  0   |     3     |   7   |    1060    |       0       |
|   7470   |  1.0   |     0      |  0   |     3     |   7   |    1050    |      730      |
|   6560   |  2.0   |     0      |  0   |     3     |   7   |    1890    |       0       |
+----------+--------+------------+------+-----------+-------+------------+---------------+
+----------+--------------+---------+---------+----------+---------------+-----+
| yr_built | yr_renovated | zipcode |   lat   |   long   | sqft_living15 | ... |
+----------+--------------+---------+---------+----------+---------------+-----+
|   1955   |      0       |  98178  | 47.5112 | -122.257 |      1340     | ... |
|   1951   |     1991     |  98125  |  47.721 | -122.319 |      1690     | ... |
|   1933   |      0       |  98028  | 47.7379 | -122.233 |      2720     | ... |
|   1965   |      0       |  98136  | 47.5208 | -122.393 |      1360     | ... |
|   1987   |      0       |  98074  | 47.6168 | -122.045 |      1800     | ... |
|   2001   |      0       |  98053  | 47.6561 | -122.005 |      4760     | ... |
|   1995   |      0       |  98003  | 47.3097 | -122.327 |      2238     | ... |
|   1963   |      0       |  98198  | 47.4095 | -122.315 |      1650     | ... |
|   1960   |      0       |  98146  | 47.5123 | -122.337 |      1780     | ... |
|   2003   |      0       |  98038  | 47.3684 | -122.031 |      2390     | ... |
+----------+--------------+---------+---------+----------+---------------+-----+
[10 rows x 21 columns]

In [57]:
#simple model using less featrues
training_set, test_set = sf.random_split(.8,seed=0)
simple_model = turicreate.linear_regression.create(training_set,target='price',features=my_features)
print(simple_model.evaluate(test_set))

PROGRESS: Creating a validation set from 5 percent of training data. This may take a while.
          You can set ``validation_set=None`` to disable validation tracking.

Linear regression:

--------------------------------------------------------

Number of examples          : 16514

Number of features          : 6

Number of unpacked features : 6

Number of coefficients    : 7

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+----------------------+---------------------------------+-----------------------------------+

| Iteration | Passes   | Elapsed Time | Training Max Error | Validation Max Error | Training Root-Mean-Square Error | Validation Root-Mean-Square Error |

+-----------+----------+--------------+--------------------+----------------------+---------------------------------+-----------------------------------+

| 1         | 2        | 0.111761     | 4074327.122033     | 2760646.139926       | 258058.278685                   | 245201.614052                     |

+-----------+----------+--------------+--------------------+----------------------+---------------------------------+-----------------------------------+

SUCCESS: Optimal solution found.

{'max_error': 3967735.3601788953, 'rmse': 252794.16976154342}

In [58]:
simple_model.coefficients

Columns:
	name	str
	index	str
	value	float
	stderr	float

Rows: 7

Data:
+-------------+-------+---------------------+----------------------+
|     name    | index |        value        |        stderr        |
+-------------+-------+---------------------+----------------------+
| (intercept) |  None | -16927697.516831044 |  3802001.9619270596  |
|   bedrooms  |  None |  -66137.80051018915 |  2805.565273706443   |
|  bathrooms  |  None |  8354.415936430702  |  4396.225551969814   |
| sqft_living |  None |  322.5263647152678  |  3.6114284686457294  |
|   sqft_lot  |  None | -0.3515550001758259 | 0.049207437237999106 |
|    floors   |  None |  -5187.744450159507 |  4342.187217786344   |
|   zipcode   |  None |  173.48873065461484 |  38.75133130137651   |
+-------------+-------+---------------------+----------------------+
[7 rows x 4 columns]

In [70]:
#advanced model using more featrues
advanced_model = turicreate.linear_regression.create(training_set,target='price',features=advanced_features)
print(advanced_model.evaluate(test_set))

PROGRESS: Creating a validation set from 5 percent of training data. This may take a while.
          You can set ``validation_set=None`` to disable validation tracking.

Linear regression:

--------------------------------------------------------

Number of examples          : 16514

Number of features          : 18

Number of unpacked features : 18

Number of coefficients    : 19

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+----------------------+---------------------------------+-----------------------------------+

| Iteration | Passes   | Elapsed Time | Training Max Error | Validation Max Error | Training Root-Mean-Square Error | Validation Root-Mean-Square Error |

+-----------+----------+--------------+--------------------+----------------------+---------------------------------+-----------------------------------+

| 1         | 2        | 0.019032     | 4347248.815236     | 3911660.140212       | 201602.654763                   | 226670.597186                     |

+-----------+----------+--------------+--------------------+----------------------+---------------------------------+-----------------------------------+

SUCCESS: Optimal solution found.

{'max_error': 4124970.825726945, 'rmse': 199762.1836111397}

In [71]:
advanced_model.coefficients

Columns:
	name	str
	index	str
	value	float
	stderr	float

Rows: 19

Data:
+-------------+-------+---------------------+---------------------+
|     name    | index |        value        |        stderr       |
+-------------+-------+---------------------+---------------------+
| (intercept) |  None | -19575867.662631407 |  3358952.1169391675 |
|   bedrooms  |  None |  -36643.99545993564 |  2269.088871878302  |
|  bathrooms  |  None |  42831.01158779474  |  3727.5007396816827 |
| sqft_living |  None |  76.26623260525115  |  19867745.71142417  |
|   sqft_lot  |  None | 0.15186032450347697 | 0.05468148962061988 |
|    floors   |  None |  3877.348911009973  |  4119.233684494957  |
|   zipcode   |  None | -113.86214522827404 |  37.71271107731807  |
|  condition  |  None |  28665.27024818658  |  2701.2919144496514 |
|    grade    |  None |  105042.74140387167 |  2470.295029582015  |
|  waterfront |  None |   594399.414599959  |  19837.504339890667 |
+-------------+-------+---------------------+---------------------+
[19 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [72]:
252794.16976154342 - 199762.1836111397

53031.98615040371